.w3-progress-container{width:50%;height:1.5em;position:relative;background-color:#f1f1f1;margin-left:25%;margin-bottom:2%}
.w3-progressbar{background-color:#757575;height:100%;position:absolute;line-height:inherit}
.w3-green,.w3-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
