@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.w3-progress-container{width:50%;height:1.5em;position:relative;background-color:#f1f1f1;margin-left:25%;margin-bottom:2%}
.text-subtitle { margin-left:25%; margin-bottom:1%; text-align: left; font-weight:bold; display:block; }
.w3-progressbar{background-color:#757575;height:100%;position:absolute;line-height:inherit}
.w3-green,.w3-hover-green:hover{color:#fff!important;background-color:#006400!important}
/* List styling */
.featureList, .featureList ul {
  margin-top: 0;
  padding-left: 3em;
  list-style-type: none;
}
.featureList li:before {
  position: absolute;
  margin-left: -1.3em;
  font-weight: bold;
}
.featureList li.check:before {
  content: "\2713";
  color: darkgreen;
}
.featureList li.cross:before {
  content: "\2717";
  color: crimson;
}

.anchor{
  display: block;
  height: 5em; /*same height as header*/
  margin-top: -5em; /*same height as header*/
  visibility: hidden;
}

.pagination {
    width: 100%;
    margin: 10px auto;
    text-align: center;
}

.sidebyside{
	margin:0;
}
.sidebyside_left{
	float:left;
	width:75%;
	overflow:hidden;
}
.sidebyside_right{
	letter-spacing: 0px;
	float:left;
	width:25%;
	overflow:hidden;
}
.zippy {
    color: #EBF4FA;
    font-size:125%;
    cursor: pointer;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}

.custom {
    display: table-caption;
    color: #DCDCDC;
    text-align: center;
}

.offset:before { 
    display: block; 
    content: " "; 
    height: 50px;      /* Give height of your fixed element */
    margin-top: -50px; /* Give negative margin of your fixed element */    
    visibility: hidden; 
}

.listOrderedStyle {
    color: #F3F70E;
}

.listOrderedStyle span {
    color: #fff;
}

span.checked {
  color: orange;
}

