_site
.sass-cache/
.jekyll-metadata
Gemfile.lock

*.prefs

# Eclipse
*.classpath
*.project
*.settings

# Maven
log/
/target

# Intellij
.idea/
*.iml
*.iws

# Mac
*.DS_Store

# No needed html
about.html
search.html
timeline.html
contact.html
latest-post.html
